
config ATA_DRIVER
    bool
    default y
    prompt "Enable ATA driver"

config NVME_DRIVER
    bool
    default y
    prompt "Enable NVMe driver"

config USB_DRIVER
    bool
    default y
    prompt "Enable USB driver"

config NET_DRIVER
    bool
    default y
    prompt "Enable NIC drivers"

config VGA_INTEL_DRIVER
    bool
    default n
    prompt "Enable vga_intel driver"

config DEBUG_ATA
    bool
    default n
    prompt "Enable debugging ATA driver"

config NET_PRO100
    bool
    default y
    prompt "Intel PRO/100 driver"

config NET_PRO1000
    bool
    default y
    prompt "Intel PRO/1000 driver"

config NET_RTL8169
    bool
    prompt "Realtek RTL8169 driver"

config NET_RE
    bool
    default n
    prompt "Realtek Family driver"

config NET_BNX
    bool
    default y
    prompt "Broadcom NetXtreme GbE driver"

config NET_AQ
    bool
    default n
    prompt "Aquantia ACQ107 driver"

config NET_VIRTIO_NET
    bool
    default y
    prompt "Enable virtio-net for PRO1000/BNX"

config NET_V_VIRTIO_NET
    bool
    default y
    prompt "Enable virtio-net virtual driver"

config VPN_VE
    bool
    default n
    prompt "Enable ve (Virtual Ethernet) driver"

config PCI_MONITOR
    bool
    default y
    prompt "PCI I/O monitor driver"

config TTY_VGA
    bool
    default n
    prompt "VMM output using VGA driver"

config UART_DRIVER
    bool "UART driver"
    default n

config UART_EARLY_PUTC
    bool "Use UART for early putc"
    default n
    depends on UART_DRIVER

config UART_EARLY_PUTC_MMIO_BASE
    hex "mmio base address"
    depends on UART_EARLY_PUTC

config ARM_GIC_V2
    bool "Arm generic interrupt controller v2"
    default n

