
config AARCH64
    bool
    default y

menu "AArch64 Boards Support"

config AARCH64_VIRT
    bool "Qemu Aarch64 virt board support"
    default y

config AARCH64_BOARD
    string
    default virt if AARCH64_VIRT

endmenu
